<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Add your additional head elements here -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <style>
        /* Add your CSS styles here */
        body {
            font-family: 'Roboto', sans-serif; /* Use the Roboto font */
            margin: 0;
            padding: 20px;
            background-color: #f7f7f7;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #333; /* Make the heading color consistent with the body text */
        }
        .nav-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .nav-link {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            text-decoration: none;
            color: #333;
            transition: color 0.3s;
        }
        .nav-link:hover {
            color: #007bff;
        }
    </style>

</head>
<body>
