<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    
    <div class="container">
        <h1>Welcome to Our Blog</h1>
        <%- include('./partials/nav.ejs') %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>
